@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "Forbiden";
}

<h2 class="error-code text-xs-center mb-2">403</h2>
<h3 class="text-uppercase text-xs-center">Sorry! Page Forbiden</h3>