@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "Unauthorized";
}

<h2 class="error-code text-xs-center mb-2">401</h2>
<h3 class="text-uppercase text-xs-center">Sorry! You Are Not Unauthorized</h3>